:root {
  /* Kolor główny (navbar, nagłówki, elementy nawigacji) */
  --md-primary-fg-color: rgb(153, 0, 76);

  /* Kolor akcentu (linki, przyciski, podświetlenia) */
  --md-accent-fg-color: rgb(0, 0, 255);

  /* Opcjonalnie – tło górnej belki */
  --md-primary-bg-color: rgb(255, 0, 0);

  /* (opcjonalnie) Kolor tekstu w nav-bar */
  --md-primary-fg-color--light: rgb(0, 255, 0);
}
